# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__/
*.pyc
*.db
.env
instance/
student_module/instance/
student_module/mentorai.db

*.jpg
*.pdf
scratch/
student_module/scratch/
student_module/static/uploads/
student_module/static/marksheets/
